 /* insurance-Container holding the image and the text */
*{
    box-sizing: border-box;
    margin: 0;
}


 .insurance-container {
    position: relative;
    text-align: center;
    color: white;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10%;
  }

  .insurance-container:hover {
    transition: all 0.5s;
    transform:scale(1.05);
    cursor:pointer;
  }

  .insurance-section {
    background-image: url(../images/beautiful-background.jpg);
    padding-top: 125px;
    background-size:cover;
    background-position: top;
  }

  .insurance-section .insurance-section-index{
    gap:20px;
  }


  
  .insurance-section-index .insurance-images {
   width: 350px;
   height: 320px;
  }

  .insurance-section-index .centered{
    top: 77.5%;
  }

  .full-container {
    display: flex;
    padding: 50px 0px 50px 0px;
    gap: 50px;
    justify-content: center;
    font-size: 200;
  }

  .insurance-images{
    filter:brightness(60%);
    width: 400px;
    height: 380px;
    object-fit: cover;
  }
  
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 50px;
    filter:brightness(100%);
    width: 100%;
    font-weight: 400;
    line-height: 1;
  } 

  @media (max-width: 767px) {
    .full-container{
      flex-direction: column;
    }
  }